{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Turbo.az</title>
</head>
<body>

<header>
    <h1>Fake Turbo.az</h1>
    <a href=""> <button><h4> New AD</h4></button></a>
</header>
 
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'cars' %}">Cars</a>
    <a href="{% url 'about' %}">About</a>
    <!-- <a href="{% url 'contact' %}">Contact</a> -->
</nav>
  {% block content %} {% endblock %}

    <footer>
        <p>&copy; 2024 Online Car Selling. All rights reserved.</p>
    </footer>
</body>
</html>