
{% extends "base.html" %}

{% block content %}

<h1>CARS</h1>
    <div class="container">
        <div class="car-listings" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
            {% for car in ad_cars %}
                <div class="car-listing">
                    <img src="{{ car.image.url }}" alt="{{ car.name }}" width="300" height="200">
                    <h2>{{ car.price  }} AZN</h2>
                    <h3>{{ car.name }} {{ car.model }}</h3>
                    <h4>{{ car.year }}, {{ car.engine }} L, {{ car.mileage }} km</h4>
                    <p>{{ car.created_at|date:"d-m-Y H:i"  }}</p>
                    <a href="{% url 'details' car.id %}"> <button>View Details</button></a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}



