{% extends "base.html" %}
{%load static%}
{% block content %}
{%if ad_cars.vip_car %}
    <img src="{% static 'logo2/viplogo.png' %}" alt="VIP" style="width:50px;height:50px;">
{%else%}
    <a href= ''> Make a VIP</a>
{%endif%}
<div class="col-md-4">
    {% for image in ad_cars.images.all %}
        <img src="{{ image.image.url }}" alt="Car Image" width="300" height="200">
    {% endfor %}
</div>
<h1>{{ ad_cars.name }} {{ ad_cars.model }}</h1>
<h2>Price: {{ ad_cars.price }} AZN</h2>
<h2>City: {{ ad_cars.city }} </h2>
<h2>Category: {{ ad_cars.category }} </h2>
<h2>Color: {{ ad_cars.color }} </h2>
<h2>Year: {{ ad_cars.year }} </h2>
<h2>Fule Type: {{ ad_cars.fuel_type }} </h2>
<h2>Engine: {{ ad_cars.engine }} L</h2>
<h2>Mileage: {{ ad_cars.mileage }} km</h2>
<h2>Created at: {{ ad_cars.created_at|date:"d-m-Y H:i" }} </h2>
<h2>Description: {{ ad_cars.description }} </h2>

<h2>Equipments:</h2>
{% for equip in ad_cars.equipment.all %}
    <h3>{{ equip.name }}</h3>
{% endfor %}

<h1>Contact info</h1>
<h2>Name: {{ ad_cars.your_name }}</h2>
<h2>Phone Number: {{ ad_cars.phone_number }}</h2>
{% comment %} <h2>Email adress: {{ ad_cars.your_email }}</h2> {% endcomment %}

{%if request.user == ad_cars.user%}
    <a href="{% url 'delete_car' ad_cars.id %}"><button>Delete</button></a>
    <a href="{% url 'edit_car' ad_cars.id %}"><button>Edit</button></a>
{%endif%}
{% endblock %}