{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Edit Advertisement</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        
        {% for form in formset %}
            <div class="form-row">
                {{ form.as_p }}
                {% if form.instance and form.instance.image %}
                    <div>
                        <img src="{{ form.instance.image.url }}" alt="Car Image" width="100">
                        <input type="checkbox" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE">
                        <label for="{{ form.prefix }}-DELETE">Delete</label>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}